@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.banner {
  background: url(https://images.unsplash.com/photo-1618667158984-c0001c0eb1c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat 0px 0px;
  /*-- w3layouts --*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 900px;
  font-family: "Roboto", sans-serif;
}
.banner .content-banner {
  padding-top: 95px;
}
.banner h3 {
  font-size: 2em;
  color: #fff;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  text-transform: uppercase;
  width: 45%;
  margin: 9em 0 0;
  padding: 1em 0.5em;
  background: rgba(33, 33, 33, 0.85);
}
.banner h3 span {
  display: block;
  color: #ff9b05;
  margin: 1em 0 0 2em;
  position: relative;
}
.banner h3 h3 span:after {
  content: "";
  background: #fff;
  height: 1px;
  width: 25%;
  position: absolute;
  bottom: 45%;
  left: 72%;
}

@media (max-width: 53rem) {
  .banner {
    display: none;
  }
  .banner h3 span {
    display: block;
  }
}
.content-1 {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color);
  background-size: cover;
  background-position: center;
}
.content-1 .container-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 40px;
  font-family: "Poppins", sans-serif;
  padding: 100px 50px;
}
.content-1 .container-card .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.295);
}
.content-1 .container-card .card:hover {
  height: 400px;
  cursor: pointer;
}
.content-1 .container-card .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.content-1 .container-card .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.content-1 .container-card .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-1 .container-card .card .content {
  position: absolute;
  top: 235px;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.content-1 .container-card .card:hover .content {
  top: 110px;
  height: 270px;
}
.content-1 .container-card .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}
.content-1 .container-card .card .content p {
  color: #333;
}
.content-1 .container-card .card .content a {
  position: relative;
  top: 3px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
}
.content-1 .container-card .card .content a:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .container-card .card {
    width: 230px;
    border-radius: 15px;
  }
  .container-card .card .img-box {
    width: 185px;
    border-radius: 10px;
  }
  .container-card .card .content p {
    font-size: 0.8rem;
  }
  .container-card .card .content a {
    font-size: 0.9rem;
  }
}
.content-2 {
  text-align: center;
  color: var(--bogie);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}
.content-2 h1 {
  font-weight: 700;
  font-size: 3rem;
}
.content-2 p {
  max-width: 80ch;
  line-height: 1.7;
  padding: 1em;
}
.content-2 a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}

.content-3 {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
}
.content-3 a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}
.content-3 p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  margin: 2px 0 2px 0;
}
.content-3 h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}
.content-3 .item {
  display: flex;
  max-width: 320px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}
.content-3 .card > a {
  margin-bottom: 2em;
}
.content-3 .img-content-3 {
  width: 90%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: 0.3em;
}
.content-3 .img-first {
  background-image: url(https://images.unsplash.com/photo-1535401991746-da3d9055713e?q=80&w=1463&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.content-3 .img-second {
  background-image: url(https://images.unsplash.com/photo-1548345680-f5475ea5df84?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.content-3 .img-third {
  background-image: url(https://images.unsplash.com/photo-1583521100926-6fe75b102fcc?q=80&w=1459&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.second {
  background-image: url(https://images.unsplash.com/photo-1462392246754-28dfa2df8e6b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-attachment: fixed;
  height: 1200px;
  flex-direction: row;
  gap: 1.6em;
}

.blank,
.other {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color);
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #24262b;
  padding: 70px 0;
}
.footer .container {
  max-width: 1170px;
  margin: auto;
}
.footer .container .row {
  display: flex;
  flex-wrap: wrap;
}
.footer .container .row .footer-col {
  width: 25%;
  padding: 0 15px;
  /*responsive*/
}
.footer .container .row .footer-col ul {
  list-style: none;
}
.footer .container .row .footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .container .row .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .container .row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .container .row .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer .container .row .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer .container .row .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer .container .row .footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .footer .container .row .footer-col .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer .container .row .footer-col .footer-col {
    width: 100%;
  }
}

.background-modal {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.open .background-modal {
  visibility: visible;
  opacity: 1;
}

@keyframes modal-in {
  0%, 50% {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
  55%, 100% {
    right: 50%;
  }
  60% {
    width: 300px;
    border-radius: 12px;
  }
  75% {
    translate: 50% -50%;
  }
}
.page-content,
.modal,
.background-modal {
  transition: 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  font-family: "Poppins", sans-serif;
  right: -800px;
  translate: 50% -50%;
  background: #ffffff;
  color: #000000;
  padding: 60px 40px;
  width: 600px;
  height: 500px;
  border-radius: 12px;
}

@keyframes modal-content-in {
  0%, 75% {
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
}
.open .modal-content {
  animation: modal-content-in 1s both;
}

.open > .page-content {
  scale: 0.75;
}

.open .modal {
  animation: modal-in 1s both;
}

:root {
  --primary: #dd946f;
  --secondary: #261e5a;
  --text-dark: hsl(240, 54%, 15%);
  --text-light: hsl(242, 18%, 64%);
  --primary: hsl(222, 98%, 60%);
  --primary-lighter: hsl(240, 33%, 86%);
  --primary-gradient: linear-gradient(to right, #3671fd, #6f31ff);
  --lavender: #5d3587;
  --bogie: #dbcc95;
  --color: #3a3a3ad3;
  --animated_svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='645' preserveAspectRatio='none' viewBox='0 0 1440 645'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2511%26quot%3b)' fill='none'%3e%3crect width='1440' height='645' x='0' y='0' fill='rgba(39%2c 39%2c 41%2c 1)'%3e%3c/rect%3e%3cpath d='M1143.3619186610986 282.0798549694362L1153.2599298226596 470.9451588798382 1332.2272225715005 272.1818438078753z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M386.1686652127537 567.0530123695081L501.82778582852484 466.5120727107308 401.28684616974755 350.8529520949597 285.6277255539764 451.39389175373697z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M568.0736784732923 419.6257768979625L678.4421449287936 427.34349189628995 686.159859927121 316.97502544078867 575.7913934716197 309.25731044246123z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M658.1520839840516 281.4085195061864L717.3941181755238 165.1394808345077 541.8830453123729 222.16648531471427z' fill='rgba(255%2c 255%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2511'%3e%3crect width='1440' height='645' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: var(--animated_svg);
  scroll-behavior: smooth;
  transition: background-color 0.5s ease;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  font-display: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  height: 90px;
  background-color: #1a1a1a;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 12px;
  text-shadow: 0 0 25px var(--primary);
}

.menu {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 20px;
  border-right: 1px solid #999999;
  padding-inline: 8px 16px;
}
.menu-links a {
  font-weight: 500;
  color: #999999;
  padding: 8px 16px;
}
.menu-links a:hover {
  color: white;
  transition: 0.5s ease;
}
.menu-links .i-belanja {
  color: rgba(255, 187, 0, 0.5058823529);
}
.menu-links .i-belanja:hover {
  color: #ffbb00;
  text-shadow: 0 0 50px #ffbb00;
  transition: 0.5s ease;
}
.menu-links .i-about {
  color: rgba(0, 255, 221, 0.568627451);
}
.menu-links .i-about:hover {
  color: #00ffdd;
  text-shadow: 0 0 50px #00ffdd;
  transition: 0.5s ease;
}
.menu-links .i-contact {
  color: rgba(6, 175, 0, 0.6235294118);
}
.menu-links .i-contact:hover {
  color: #06af00;
  text-shadow: 0 0 50px #06af00;
  transition: 0.5s ease;
}
.menu-links .i-keranjang {
  color: rgba(166, 255, 0, 0.6039215686);
}
.menu-links .i-keranjang:hover {
  color: #a6ff00;
  text-shadow: 0 0 50px #a6ff00;
  transition: 0.5s ease;
}
.menu-links .i-home {
  color: rgba(255, 0, 85, 0.6509803922);
}
.menu-links .i-home:hover {
  color: #ff0055;
  text-shadow: 0 0 50px #e91e63;
  transition: 0.5s ease;
}

.profil {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 22px;
}
.profil .profil-u {
  display: flex;
  gap: 11px;
  padding-inline: 1px 1px;
}
.profil .profil-u a {
  font-weight: 500;
  color: #999999;
  padding: 8px 16px;
  border-radius: 100px;
}
.profil .profil-u a:hover {
  color: white;
  transition: 0.5s ease;
}
.profil .profil-u .i-user {
  color: azure;
}
.profil .profil-u .i-user:hover {
  color: #ff0055;
  text-shadow: 0 0 50px #e91e63;
  transition: 0.5s ease;
}

.log-in {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}

.log-in:hover {
  background-color: #0aa5ff;
  color: white;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0);
  color: #fafafa;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
}

.open-btn:hover {
  transform: scale(0.85);
  background-color: #0aa5ff;
  transition: all 0.7s ease;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #1a1a1a;
  border-right: none;
  padding: 5px;
  height: 26px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #1a1a1a;
}

.searchButton {
  width: 30px;
  height: 26px;
  border: 1px solid #1a1a1a;
  background: #1a1a1a;
  text-align: center;
  color: rgba(255, 255, 255, 0.4941176471);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 7.5%;
  left: 22%;
  transform: translate(-50%, -50%);
  padding-right: 10px;
}

.sidebar {
  color: #fafafa;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(58, 58, 58, 0.8274509804);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
}
.sidebar h2 {
  padding: 15px 0 15px;
  margin: 10px 0 10px 0;
}
.sidebar a,
.sidebar label {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  transition: 0.3s;
}
.sidebar a:hover,
.sidebar label:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}